<div class="container">
    <div class="section">
        <div class="header">
            <h1>Welcome to Service Booking System!</h1>
            <p>Choose your user type to get started:</p>
        </div>
        
        <div class="buttons">
            <div class="buttons-container">
                <div class="button-item" nz-button nzType="primary" routerLink="/register_vendor">
                    <img src="https://img.icons8.com/?size=100&id=bk6IvZeZDwsJ&format=png&color=D7D7D7" alt="Vendor Icon" />
                    <span>Vendor</span>
                  </div>
                  <div class="button-item" nz-button nzType="primary" routerLink="/register_customer">
                    <img src="https://img.icons8.com/?size=100&id=14736&format=png&color=D7D7D7" alt="Customer Icon" />
                    <span>Customer</span>
                  </div>
            </div>
        </div>
    </div>
</div>
