<body>
  <nz-header class="main-header" nz-row nzType="flex" style="background-color: rgb(0, 0, 0);">
    <div>
      <h2 style="color: rgb(55, 153, 239); padding-left: 10px;">Event Ticketing System</h2>
    </div>

    <div class="nav-links">
      <!-- when user is not logged in -->
      <ng-container *ngIf="!isLoggedIn()">
        <a nz-button nzType="link" routerLink="/home" routerLinkActive="active">Home</a>
        <a nz-button nzType="link" routerLink="/register" routerLinkActive="active">Register</a>
        <a nz-button nzType="link" routerLink="/login" routerLinkActive="active">Login</a>
      </ng-container>

      <!-- when user is logged in -->
      <ng-container *ngIf="getRole() === 'Admin'">
        <a nz-button nzType="link" routerLink="/admin-dashboard" routerLinkActive="active">Dashboard</a>
        <!-- <a nz-button nzType="link" routerLink="/admin-extra" routerLinkActive="active">Extra</a> -->
        <a nz-button nzType="link" (click)="logout()">Logout</a>
      </ng-container>
    </div>
  </nz-header>

  <router-outlet></router-outlet>
</body>
