<div *ngIf="!isClientLoggedIn && !isVendorLoggedIn">
<nz-header class="main-header" nz-row nzType="flex" style="background-color: rgb(0, 0, 0);">
  <div>
    <h2 style="color: rgb(55, 153, 239); padding-left: 10px;">Event Ticketing System</h2>
  </div>

  <div class="nav-links">
    <a nz-button nzType="link" routerLink="/home" routerLinkActive="active">Home</a>
    <a nz-button nzType="link" routerLink="/register" routerLinkActive="active">Register</a>
    <a nz-button nzType="link" routerLink="/login" routerLinkActive="active">Login</a>
  </div>
</nz-header>
</div>

<div *ngIf="isClientLoggedIn">
  <nz-header class="main-header" nz-row nzType="flex" style="background-color: #1890ff">
    <div>
      <h2 style="color: white; padding-left: 10px;">Event Ticketing System</h2>
    </div>

    <div class="nav-links">
      <a nz-button nzType="link" routerLink="/client/dashboard" routerLinkActive="active">Dashboard</a>
      <a nz-button nzType="link" routerLink="/client/tickets" routerLinkActive="active">My Tickets</a>
      <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Logout</a>
    </div>
  </nz-header>

  <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0" class="mobile-sidenav">
    <ul class="nav-links" nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item>
        <a nz-button nzType="link" routerLink="/client/dashboard" routerLinkActive="active">Dashboard</a>
      </li>
      <li nz-menu-item>
        <a nz-button nzType="link" routerLink="/client/tickets" routerLinkActive="active">My Tickets</a>
      </li>
      <li nz-menu-item>
        <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Logout</a>
      </li>
    </ul>
  </nz-sider>
</div>

<div *ngIf="isVendorLoggedIn">
  <nz-header class="main-header" nz-row nzType="flex" style="background-color: #1890ff">
    <div>
      <h2 style="color: white; padding-left: 10px;">Event Ticketing System</h2>
    </div>

    <div class="nav-links">
      <a nz-button nzType="link" routerLink="/vendor/dashboard" routerLinkActive="active">Dashboard</a>
      <a nz-button nzType="link" routerLink="/vendor/dashboard" routerLinkActive="active">Create Tickets</a>
      <a nz-button nzType="link" routerLink="/vendor/tickets" routerLinkActive="active">My Tickets</a>
      <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Logout</a>
    </div>
  </nz-header>

  <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0" class="mobile-sidenav">
    <ul class="nav-links" nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item>
        <a nz-button nzType="link" routerLink="/vendor/dashboard" routerLinkActive="active">Dashboard</a>
      </li>
      <li nz-menu-item>
        <a nz-button nzType="link" routerLink="/vendor/dashboard" routerLinkActive="active">Create Tickets</a>
      </li>
      <li nz-menu-item>
        <a nz-button nzType="link" routerLink="/vendor/tickets" routerLinkActive="active">My Tickets</a>
      </li>
      <li nz-menu-item>
        <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Logout</a>
      </li>
    </ul>
  </nz-sider>
</div>

<div class="gradient-background">
  <router-outlet></router-outlet>
</div>
