.main-header {
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  padding: 10px;
  display: flex;
  justify-content: space-between; /* Space out the two sections (left and right) */
  align-items: center; /* Align items vertically in the center */
}

.gradient-background {
  height: 100vh; /* Ensure the background takes full viewport height */
  background: linear-gradient(148deg, #000000, #ffffff, #898484, #555252, #000000, #000000, #000000, #000000);
  background-size: 480% 480%;
  animation: gradient-animation 8s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.ant-row {
  display: flex;
  justify-content: space-between; /* Space out the content in the row */
  align-items: center;
  width: 100%; /* Make sure the row takes full width */
}

h2 {
  margin: 0;
  padding-left: 10px;
}

.nav-links {
  display: flex;
  gap: 20px; /* Space between the links */
  align-items: center; /* Align nav links vertically */
}

.nav-links a {
  color: aliceblue;
  font-weight: 600;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-links a.active {
  color: #1890ff; /* Active link color (default blue) */
}

.nav-links a:hover {
  color: #1890ff; /* Change color on hover */
}
