<div class="line"></div>

<div class="home-container">
    <div class="app-logo">
        <img src="https://omeshapasan.xyz/tsystem/logo.png" alt="Ticketing System Logo" class="logo-img">
    </div>

    <!-- Wrapper for both buttons -->
    <div class="button-wrapper">
        <!-- GitHub Button -->
        <div class="repo-link">
            <a href="https://github.com/omeshapasan2/Ticketing-System-Springboot-Angular-MySQL" target="_blank" rel="noopener" class="github-button">
                <img src="https://cdn.pixabay.com/photo/2022/01/30/13/33/github-6980894_960_720.png" alt="GitHub" class="github-logo">
                Access GitHub Repo
            </a>
        </div>

        <!-- YouTube Button -->
        <div class="yt-link">
            <a href="https://www.youtube.com/channel/UCxXXXXXXX" target="_blank" rel="noopener" class="youtube-button">
                <img src="https://omeshapasan.xyz/tsystem/ytlogo.png" alt="YouTube" class="youtube-logo">
                View Demo Video
            </a>
        </div>
    </div>

    <div class="description">
        <p>A Ticketing System built with Spring Boot, Angular, and MySQL. Provides a RESTful API for ticket, customer, and vendor management, with a responsive Angular frontend for CRUD operations. Includes MySQL data storage, using Spring Data JPA.</p>
    </div>
</div>
