<div class="line"></div>

<div class="home-container">
    <div class="app-logo">
      <img src="https://cdn.discordapp.com/attachments/900034242082385920/1314252761118019605/logo.png?ex=675318c3&is=6751c743&hm=7f2c24ab8202bcc4a6aa2c591097c8b8253d65fcdc847aeb457dd3c11b7de7ab&" alt="Ticketing System Logo" class="logo-img">
    </div>
  
    <div class="repo-link">
      <a href="https://github.com/omeshapasan2/Ticketing-System-Springboot-Angular-MySQL" target="_blank" rel="noopener" class="github-button">
        <img src="https://cdn.pixabay.com/photo/2022/01/30/13/33/github-6980894_960_720.png" alt="GitHub" class="github-logo">
        Access GitHub Repo
      </a>
    </div>
  
    <div class="description">
      <p>A Ticketing System built with Spring Boot, Angular, and MySQL. Provides a RESTful API for ticket, customer, and vendor management, with a responsive Angular frontend for CRUD operations. Includes MySQL data storage, using Spring Data JPA.</p>
    </div>
  </div>
  